<h1>Hello, {{.Name}}!</h1>
<h2>Who kill em {{.Moron}} like sucked morons!</h2>
<h1>SOFMAP LEVELED {{.Map.TrampKillCount}} MORON!</h1>
<h1>SOFMAP LEVELED {{.Map.KimKillCount}} MORON!</h1>
<h1>Fueled nerd {{.Map}} in no coffin!</h1>
<p>Nerd Tramp is {{ if ge .Map.TrampKillCount 100 }}fucked{{else}}sucked{{end}}</p>
